{% extends 'base.html.twig' %}

{% block body %}
    <section class="main--content">
        <div class="panel">
            <div id="stat-summaries"></div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.anychart.com/js/latest/anychart-bundle.min.js"></script>
    <script>
        anychart.onDocumentLoad(function() {
            var chartStat = anychart.column();
            chartStat.data({header: ["#", "Принято", "Отклонено"],
                rows:[
                    {% for feedbackDate in statistics %}
                    {x: "{{ feedbackDate['sendAt'] }}", accepted: {{ feedbackDate['accepted'] }}, declined: {{ feedbackDate['declined'] }} },
                    {% endfor %}
                ]});

            chartStat.title("Принято/отклонено по датам");
            chartStat.container("stat-summaries").draw();
        });

    </script>

{% endblock %}