{% extends 'base.html.twig' %}

{% block body %}
    <h2>Принято/отклонено по резюме {{ summary.id }}</h2>
    <canvas id="dateChart" style="height: 400px !important;"></canvas>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
        var acceptedData = {
            label: 'Принято',
            data: [
                {% for feedbackDate in statistics %}
                    {{ feedbackDate['accepted']  }},
                {% endfor %}
            ],
            backgroundColor: 'rgba(0, 99, 132, 0.6)',
            borderColor: 'rgba(0, 99, 132, 1)',
            yAxisID: "y-axis-accepted"
        };

        var declinedData = {
            label: 'Отклонено',
            data: [
                {% for feedbackDate in statistics %}
                    {{ feedbackDate['declined']  }},
                {% endfor %}
            ],
            backgroundColor: 'rgba(99, 132, 0, 0.6)',
            borderColor: 'rgba(99, 132, 0, 1)',
            yAxisID: "y-axis-declined"
        };

        var datesData = {
            labels: [
                {% for feedbackDate in statistics %}
                    "{{ feedbackDate['sendAt']  }}",
                {% endfor %}
            ],
            datasets: [acceptedData, declinedData]
        };

        var chartOptions = {
            scales: {
                xAxes: [{
                    barPercentage: 1,
                    categoryPercentage: 0.6
                }],
                yAxes: [{
                    id: "y-axis-accepted"
                }, {
                    id: "y-axis-declined"
                }]
            }
        };

        var barChart = new Chart($('#dateChart'), {
            type: 'bar',
            data: datesData,
            options: chartOptions
        });
    </script>

{% endblock %}